<html>
    <head>
        <title>ConTeam</title>
        <style type="text/css">
            body {
                background-color: #B4DAF7;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
        </style>
        <script>
            $(document).ready(function() {
                var dataExp = new Date(localStorage['exp']);
                var dataAtual = new Date();
                    
                $.get( `http://127.0.0.1:5000/auth/login/check?token=${localStorage['token']}`)
                    .done(function( data ) {
                        if(dataExp <= dataAtual) {
                            $('#containers').remove();
                            $('#errorMsg').css('display', 'block');
                            $('#exit').html('Entrar');
                            $('#exit').attr('id', 'login');
                            $('#login').attr('href', 'http://127.0.0.1:3000');
                            $('#login').unbind("click");
                        }
                    }).fail(function(xhr,status,error) {
                        $('#containers').remove();
                            $('#errorMsg').css('display', 'block');
                            $('#exit').html('Entrar');
                            $('#exit').attr('id', 'login');
                            $('#login').attr('href', 'http://127.0.0.1:3000');
                            $('#login').unbind("click");
                    });    
               

                $.each($('.ui.cards').children(), function(key, card) {
                    var createdAtElement = $($(card).children()[1].children[2].children[1].children[1]);
                    var updatedAtElement = $($(card).children()[1].children[2].children[2].children[1]);
                    $(createdAtElement).html(dateFormat($(createdAtElement).html()));
                    $(updatedAtElement).html(dateFormat($(updatedAtElement).html()));
                });

                $('#exit').click(function() {
                    if(confirm("Deseja realmente sair do sistema?")) {
                        localStorage.removeItem('token');
                        localStorage.removeItem('exp');
                        window.open('http://127.0.0.1:3000', '_self');
                    }
                  }); 
            });

            function dateFormat(date){
                var arrayFullDate = date.split('T');
                var arrayTime = arrayFullDate[1].split('.');
                var arrayDate = arrayFullDate[0].split('-');

                return arrayDate[2]+'/'+arrayDate[1]+'/'+arrayDate[0].trim()+' '+arrayTime[0];
            }
        </script>
    </head>
    <body>

        <div class="ui menu">
            <div class="header item">
                ConTeam
                <i class="trademark tiny icon" style="margin-top: 8px;margin-left: 1px;"></i>
            </div>
            <div class="right menu">
                <a id="exit" class="item">Sair</a>
            </div>
        </div>
        <div id="errorMsg" class="ui middle aligned center aligned grid" style="display:none;">
            <div class="column">
                <div class="ui error info message">
                    <p>É necessário estar logado no sistema.</p>
                </div>
            </div>
        </div>
        <div id="containers" class="ui blue segment" style="max-width: 99%;margin: 0 auto;">
            <article class="ui header">
                <i class="columns icon"></i>
                Containers
            </article>
            <div style="text-align: left;">
                <a class="ui inverted primary button" href="/containers/new">
                    <i class="plus icon"></i>
                    Novo
                </a>
            </div>
            <div class="ui inverted divider"></div>
            <div class="ui cards">
                <% @containers.each do |c| %>
                    <div class="card">
                        <div class="ui dimmer">
                            <div class="ui text loader">Criando...</div>
                        </div>
                        <div class="content">
                            <div class="header">
                                <%= c['name'] %>
                            </div>
                            <div class="meta">
                                <%= c['container_name'] %>
                            </div>
                            <div class="description">
                                <article>
                                    <b>Imagem:</b> <%= c['image'] %>
                                </article>
                                <article>
                                   <b>Criado em: </b><article> <%= c['created_at'] %> </article>
                                </article>
                                <article>
                                    <b>Atualizado em: </b><article> <%= c['updated_at'] %> </article>
                                </article>
                            </div>
                        </div>
                        
                        <a class="ui bottom attached button" href="/containers/<%= c['id'] %>/edit">
                            <i class="edit icon"></i>
                            Editar Container
                        </a>
                    </div>
                <% end %>
            </div>
        </div>
    </body>
</html>