<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @container.name %>
</p>

<p>
  <strong>Container name:</strong>
  <%= @container.container_name %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= @container.image %>
</p>

<%= link_to 'Edit', edit_container_path(@container) %> |
<%= link_to 'Back', containers_path %>
